.container {
  display: flex;
}

ul {
  margin-top: 100px;
  display: flex;
  list-style: none;
}

li {
  width: 100px;
  line-height: 30px;
  margin-right: 10px;
}

li a {
  color: white;
  text-decoration: none;
}
